*,
*:before,
*:after {
  box-sizing: border-box;
}

*:lang(en) :not(:lang(en)) {
    display: none;
}
*:lang(es) :not(:lang(es)) {
    display: none;
}
*:lang(lt) :not(:lang(lt)) {
    display: none;
}

:root {
    --text-color: hsl(115deg 42% 80%);
    --bg-color: hsl(115deg 52% 13%);
    --bg-content: hsl(115deg 52% 23%);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 1.5rem;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bolder;
}
a:hover, a:focus {
    text-decoration: underline;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 20px;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-content);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}
nav a:first-child {
    margin-right: auto;
}
nav a + a {
    margin-left: 20px;
}
section {
    padding: 50px 32px 0;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    background-color: var(--bg-content);
}

section h1 {
    display: flex;
    align-items: center;
}

section img {
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
    height: 400px;
}

@media only screen and (max-width: 600px) {
    nav {
        position: relative;
        flex-direction: column;
        box-shadow: none;
        text-align: center;
        padding: 20px 20px 0;
    }
    nav a:first-child {
        margin-right: 0;
    }
    nav a + a {
        margin-top: 10px;
        margin-left: 0;
    }

    section {
        padding: 20px 0 0;
    }
    section p, section h1, section h2 {
        padding: 0 20px;
    }
    section h1::after {
        content: "";
        background-image: url(assets/angle-double-up.svg);
        background-position: center;
        background-repeat: no-repeat;
        float: right;
        position: relative;
        margin-left: auto;
        height: 24px;
        width: 24px;
        flex-shrink: 0;
    }
    section img {
        height: 300px;
    }
}