*,
*:before,
*:after {
  box-sizing: border-box;
}

*:lang(en) :not(:lang(en)), *:lang(en) [data-lang='en'] {
    display: none;
}
*:lang(es) :not(:lang(es)), *:lang(es) [data-lang='es'] {
    display: none;
}
*:lang(lt) :not(:lang(lt)), *:lang(lt) [data-lang='lt'] {
    display: none;
}

:root {
    --text-color: hsl(115deg 42% 80%);
    --bg-color: hsl(115deg 52% 13%);
    --bg-content: hsla(115deg,52%,23%,0.8);
    --bg-menu: hsl(115deg,52%,23%);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 2rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    background-image: url(assets/lt-pattern.svg);
    background-attachment: fixed;
    background-size: 180px 250px;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
}
a:hover, a:focus {
    text-decoration: underline;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 20px;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-menu);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}
nav a:first-child {
    margin-right: auto;
}
nav a + a {
    margin-left: 20px;
}
section {
    padding: 72px 32px 0;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    background-color: var(--bg-content);
}

section h1 {
    display: flex;
    align-items: center;
}

h1, h2, .fancy {
    font-family: Oregano, serif;
}
h1 {
    font-size: 3rem;
    line-height: 3rem;
}
h2 {
    font-size: 2rem;
}
.fancy {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

section img {
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
    height: 400px;
}

@media only screen and (max-width: 768px) {
    nav {
        position: relative;
        flex-direction: column;
        box-shadow: none;
        text-align: center;
        padding: 20px 20px 0;
        background-color: var(--bg-content);
    }
    nav a:first-child {
        margin-right: 0;
    }
    nav a + a {
        margin-top: 10px;
        margin-left: 0;
    }

    section {
        padding: 20px 0 0;
    }
    section p, section h1, section h2 {
        padding: 0 20px;
    }
    section h1::after {
        content: "";
        background-image: url(assets/angle-double-up.svg);
        background-position: center;
        background-repeat: no-repeat;
        float: right;
        position: relative;
        margin-left: auto;
        height: 4rem;
        width: 4rem;
        flex-shrink: 0;
    }
    section img {
        height: 300px;
    }
}

.carousel {
    background: black;
}

.carousel-cell {
    width: 90%;
    height: 300px;
    /* flex-box, center image in cell */
    display: -webkit-box;
    display: -webkit-flex;
    display:         flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
}

.carousel-cell img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* dim unselected */
    opacity: 0.7;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
            transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: none;
            filter: none;
}

@media screen and ( min-width: 768px ) {
    .carousel-cell {
        height: 400px;
    }
}

@media screen and ( min-width: 960px ) {
    .carousel-cell {
        width: 60%;
    }
}

/* buttons, no circle */
.flickity-prev-next-button {
    width: 60px;
    height: 60px;
    background: transparent;
    opacity: 0.6;
}
.flickity-prev-next-button:hover {
    background: transparent;
    opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
    fill: white;
}
.flickity-prev-next-button.no-svg {
    color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
    display: none;
}